img {
    height: 20vh;
}

header {
    display: flex;
    justify-content: center;
}
.container {
    display: flex;
    justify-content: space-between;
}

.fishes {
    border: 1px dotted black;
}

aside {
    border: 1px dashed black;
}

.places {
    display: flex;
    justify-content: center;
}